/* 
primary color: 7FBCD2
secondary color: A5F1E9
accent colors: E1FFEE, FFEEAF
*/
.canvas{
    width: 500px;
    height: 600px;
    background-color: #7FBCD2;
    /* padding: 1px; */
    overflow: hidden;
    filter: blur(2px);
}
.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.one{
    width: 425px;
    height: 150px;
    background-color:#A5F1E9 ;
    margin: 20px auto;
    filter: blur(1px);
}
.two{
    width: 475px;
    height: 200px;
    background-color:#E1FFEE ;
    margin: 0 auto 20px;
    filter: blur(1px);

}
.three{
    width: 91%;
    height: 28%;
    background-color:#FFEEAF ;
    margin: auto;
    filter: blur(2px);
    
}