/* 
primary color: 7FBCD2
secondary color: A5F1E9
accent colors: E1FFEE, FFEEAF
*/
.canvas{
    width: 500px;
    height: 600px;
    background-color: #7FBCD2;
}
.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.one{
    width: 425px;
    height: 150px;
    background-color:#A5F1E9 ;
    margin: 20px auto;
}